@model Application.DTO.ResponseDTO.VehicleResponseDTO

@{
	ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
@if (TempData["error"] != null)
{
	<p class="text-danger">@TempData["error"]</p>
}
<div>
	<h4>Vehicle</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Id)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Id)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Model)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Model)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FuelTankCapacity)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FuelTankCapacity)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CostPerDay)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CostPerDay)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.VehicleBrand)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.VehicleBrand)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.VehicleType)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.VehicleType)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Automatic)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Automatic)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Rented)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Rented)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Color)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Color)
		</dd>
	</dl>

	<form asp-action="Delete">
		<input type="submit" value="Delete" class="btn btn-danger" /> |
		<a asp-action="Index">Back to List</a>
	</form>
</div>
