@model IEnumerable<Application.DTO.ResponseDTO.VehicleResponseDTO>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (TempData["error"] != null)
{
	<p class="text-danger">@TempData["error"]</p>
}
<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Model)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FuelTankCapacity)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CostPerDay)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.VehicleBrand)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.VehicleType)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Automatic)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Rented)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Color)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Model)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.FuelTankCapacity)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CostPerDay)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.VehicleBrand)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.VehicleType)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Automatic)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Rented)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Color)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
					@Html.ActionLink("Details", "Details", new { id = item.Id }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.Id })
				</td>
			</tr>
		}
	</tbody>
</table>
