@model MVC.Models.UserCreateViewBag

@{
	ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
@if (TempData["error"] != null)
{
	<p class="text-danger">@TempData["error"]</p>
}
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger">

			</div>
			<div class="form-group">
				<label asp-for="@Model.UserDTO.FirstName" class="control-label"></label>
				<input asp-for="@Model.UserDTO.FirstName" class="form-control" />
				<span asp-validation-for="@Model.UserDTO.FirstName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.UserDTO.LastName" class="control-label"></label>
				<input asp-for="@Model.UserDTO.LastName" class="form-control" />
				<span asp-validation-for="@Model.UserDTO.LastName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.UserDTO.Username" class="control-label"></label>
				<input asp-for="@Model.UserDTO.Username" class="form-control" />
				<span asp-validation-for="@Model.UserDTO.Username" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.UserDTO.Password" class="control-label"></label>
				<input asp-for="@Model.UserDTO.Password" class="form-control" />
				<span asp-validation-for="@Model.UserDTO.Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.UserDTO.RoleId" class="control-label"></label>
				<select asp-for="@Model.UserDTO.RoleId" class="form-control">
					@foreach (var role in Model.Roles)
					{
						<option value="@role.Id">@role.Name</option>
					}
				</select>
				<span asp-validation-for="@Model.UserDTO.RoleId" class="text-danger"></span>
			</div>

			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
